<ref *1> {
  type: 'tag',
  name: 'li',
  namespace: 'http://www.w3.org/1999/xhtml',
  attribs: [Object: null prototype] {
    class: 'contrib-person float-left col-6 pr-2 my-2',
    style: 'display: block;'
  },
  'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
  'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
  children: [
    {
      type: 'tag',
      name: 'span',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Circular *1],
      prev: null,
      next: null
    }
  ],
  parent: <ref *2> {
    type: 'tag',
    name: 'ol',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] { class: 'contrib-data list-style-none' },
    'x-attribsNamespace': [Object: null prototype] { class: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined },
    children: [ [Circular *1], [Object], [Object] ],
    parent: {
      type: 'tag',
      name: 'div',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: [Object]
    },
    prev: {
      type: 'text',
      data: '\n\n    ',
      parent: [Object],
      prev: [Object],
      next: [Circular *2]
    },
    next: null
  },
  prev: null,
  next: <ref *3> {
    type: 'tag',
    name: 'li',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] {
      class: 'contrib-person float-left col-6 pl-2 my-2',
      style: 'display: block;'
    },
    'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
    children: [ [Object] ],
    parent: <ref *2> {
      type: 'tag',
      name: 'ol',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: null
    },
    prev: [Circular *1],
    next: {
      type: 'tag',
      name: 'li',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Circular *3],
      next: null
    }
  }
}
<ref *1> {
  type: 'tag',
  name: 'li',
  namespace: 'http://www.w3.org/1999/xhtml',
  attribs: [Object: null prototype] {
    class: 'contrib-person float-left col-6 pl-2 my-2',
    style: 'display: block;'
  },
  'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
  'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
  children: [
    {
      type: 'tag',
      name: 'span',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Circular *1],
      prev: null,
      next: null
    }
  ],
  parent: <ref *2> {
    type: 'tag',
    name: 'ol',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] { class: 'contrib-data list-style-none' },
    'x-attribsNamespace': [Object: null prototype] { class: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined },
    children: [ [Object], [Circular *1], [Object] ],
    parent: {
      type: 'tag',
      name: 'div',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: [Object]
    },
    prev: {
      type: 'text',
      data: '\n\n    ',
      parent: [Object],
      prev: [Object],
      next: [Circular *2]
    },
    next: null
  },
  prev: {
    type: 'tag',
    name: 'li',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] {
      class: 'contrib-person float-left col-6 pr-2 my-2',
      style: 'display: block;'
    },
    'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
    children: [ [Object] ],
    parent: <ref *2> {
      type: 'tag',
      name: 'ol',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: null
    },
    prev: null,
    next: [Circular *1]
  },
  next: {
    type: 'tag',
    name: 'li',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] {
      class: 'contrib-person float-left col-6 pr-2 my-2',
      style: 'display: block;'
    },
    'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
    children: [ [Object] ],
    parent: <ref *2> {
      type: 'tag',
      name: 'ol',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: null
    },
    prev: [Circular *1],
    next: null
  }
}
<ref *1> {
  type: 'tag',
  name: 'li',
  namespace: 'http://www.w3.org/1999/xhtml',
  attribs: [Object: null prototype] {
    class: 'contrib-person float-left col-6 pr-2 my-2',
    style: 'display: block;'
  },
  'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
  'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
  children: [
    {
      type: 'tag',
      name: 'span',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Circular *1],
      prev: null,
      next: null
    }
  ],
  parent: <ref *2> {
    type: 'tag',
    name: 'ol',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] { class: 'contrib-data list-style-none' },
    'x-attribsNamespace': [Object: null prototype] { class: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined },
    children: [ [Object], [Object], [Circular *1] ],
    parent: {
      type: 'tag',
      name: 'div',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: [Object]
    },
    prev: {
      type: 'text',
      data: '\n\n    ',
      parent: [Object],
      prev: [Object],
      next: [Circular *2]
    },
    next: null
  },
  prev: <ref *3> {
    type: 'tag',
    name: 'li',
    namespace: 'http://www.w3.org/1999/xhtml',
    attribs: [Object: null prototype] {
      class: 'contrib-person float-left col-6 pl-2 my-2',
      style: 'display: block;'
    },
    'x-attribsNamespace': [Object: null prototype] { class: undefined, style: undefined },
    'x-attribsPrefix': [Object: null prototype] { class: undefined, style: undefined },
    children: [ [Object] ],
    parent: <ref *2> {
      type: 'tag',
      name: 'ol',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: [Object],
      next: null
    },
    prev: {
      type: 'tag',
      name: 'li',
      namespace: 'http://www.w3.org/1999/xhtml',
      attribs: [Object: null prototype],
      'x-attribsNamespace': [Object: null prototype],
      'x-attribsPrefix': [Object: null prototype],
      children: [Array],
      parent: [Object],
      prev: null,
      next: [Circular *3]
    },
    next: [Circular *1]
  },
  next: null
}