@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 &family=Montserrat:wght@400;500&display=swap");

:root {
  --color-text: #8b9496;
  --color-text-dark: #343434;
  --bg: #ffffff;
  --border-color: #ddd;
  --color-gold: #b29a66;
  --color-gold-light: rgba(178, 154, 102, 0.85);
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Lato", sans-serif;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

body {
  font-family: var(--font-body) !important;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
}

a {
  color: var(--color-gold);
}

.g-hero-container {
  @apply flex flex-wrap px-6 flex-col items-center;
  margin: 0rem 3rem;
}

@screen md {
  .g-hero-container {
    @apply flex-row;
  }
}

.g-hero-heading {
  @apply text-4xl tracking-tight leading-10 font-extrabold text-gray-700;
}

@screen sm {
  .g-hero-heading {
    @apply text-5xl leading-none;
  }
}

@screen md {
  .g-hero-heading {
    @apply text-5xl;
  }
}

.g-nav-link {
  @apply block p-2 font-medium uppercase transition-colors duration-300 ease-linear;
  font-family: var(--font-heading) !important;
}

.g-btn {
  @apply flex items-center justify-center px-8 py-3 border leading-6 font-medium rounded-md text-white transition duration-300 ease-out;
  background-color: var(--color-gold);

}

.g-btn-cta {
  @apply w-full g-btn;
}

.g-btn:hover {
  color: var(--color-gold-light);
  background-color: var(--bg);
  border-color: var(--color-light);
}

.g-btn:focus {
  @apply outline-none shadow-outline;
}

.g-btn-alt {
  color: var(--color-gold);
  background-color: var(--bg);
  border-color: var(--color-light);
}

.g-btn-alt:hover {
  background-color: var(--color-gold);
  color: #ffffff;
}

@screen md {
  .g-btn-cta {
    @apply py-4 text-lg;
  }
}
