<template>
  <section class="lg:pt-0 py-40">
    <div class="lg:container px-8 mx-auto">
      <div class="md:w-1/2 md:mb-0 w-full pb-12 mb-4">
        <p class="md:text-3xl text-2xl font-bold text-black">How we're getting there</p>
        <p class="text-light py-2 text-base text-black">
          We know it's not going to be easy, but we're excited about the future we're building.
        </p>
      </div>

      <div class="lg:justify-between flex flex-wrap justify-start -mx-4 -mb-16">
        <div v-for="feature in features" :key="feature.title" class="sm:w-1/2 lg:w-96 w-full px-4 mb-16">
          <div class="flex">
            <span class="mt-2 mr-4">
              <img class="lg:w-12 w-8" src="/check.svg" alt="" />
            </span>
            <div>
              <h3 class="md:text-2xl font-heading mb-2 text-xl font-bold">
                {{ feature.title }}
              </h3>
              <p class="text-base text-black">
                {{ feature.desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      features: [
        {
          title: 'Open Software',
          desc: 'We’re creating open source software that people can trust, love and learn from.',
        },
        {
          title: 'Open Education',
          desc: 'We’re making openly accessible educational content for learners around the world.',
        },
        {
          title: 'Open Collaboration',
          desc: 'We allow students worldwide to practice by collaborating remotely with other open source developers.',
        },
      ],
    }
  },
}
</script>

<style></style>
