<template>
  <footer class="bg-black-500 py-20">
    <div class="lg:container lg:px-0 sm:flex-row flex flex-col-reverse justify-between px-8 mx-auto">
      <div>
        <NuxtLink to="/" :aria-label="`Grey Software's Logo`">
          <GreySoftwareLight />
        </NuxtLink>
        <p class="lg:hidden whitespace-nowrap flex mt-4 text-sm not-italic font-normal leading-4 text-white">
          Made with Love, Joy and Hope
        </p>
      </div>

      <div class="sm:grid-cols-3 lg:gap-10 grid grid-cols-2 gap-6">
        <div v-for="navItem in navItems" :key="navItem.name" class="md:w-28 flex flex-col items-start w-24 mb-12">
          <p class="text-xl font-semibold leading-6 text-white">{{ navItem.name }}</p>

          <div v-for="(navItemLink, index) in navItem.links" :key="index">
            <a :href="navItemLink.link" target="blank" class="flex flex-col items-start justify-center p-0 mt-4">
              <div class="whitespace-nowrap mt-2 text-base font-normal leading-5 text-white">
                {{ navItemLink.name }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <p class="lg:block whitespace-nowrap hidden mr-4 text-sm font-normal leading-4 text-white">
        Made with Love, Joy and Hope
      </p>
    </div>
  </footer>
</template>

<script>
import GreySoftwareLogo from './global/GreySoftwareLogo.vue'
export default {
  components: { GreySoftwareLogo },

  data() {
    return {
      navItems: [
        {
          name: 'About',
          links: [
            {
              name: 'Pitch',
              link: '/pitch',
            },
            {
              name: 'FAQ',
              link: '/faq',
            },
            {
              name: 'Feedback',
              link: '/feedback',
            },
            {
              name: 'Analytics',
              link: '/analytics',
            },
            {
              name: 'Philosophy',
              link: '/philosophy',
            },
            {
              name: 'Founding Story',
              link: '/founding-story',
            },
          ],
        },
        {
          name: 'Explore',
          links: [
            {
              name: 'GitLab',
              link: 'https://gitlab.com/grey-software',
            },
            {
              name: 'Learn',
              link: 'https://learn.gsoftware.org/',
            },
            {
              name: 'Resources',
              link: 'https://resources.gsoftware.org/',
            },
            {
              name: 'Onboarding',
              link: 'https://onboarding.gsoftware.org/',
            },
            {
              name: 'Organization',
              link: 'https://org.gsoftware.org/',
            },
          ],
        },
        {
          name: 'Socials',
          links: [
            {
              name: 'Twitter',
              link: 'https://twitter.com/grey_software',
            },
            {
              name: 'LinkedIn',
              link: 'https://www.linkedin.com/company/grey-software/',
            },
            {
              name: 'GitHub',
              link: 'https://github.com/grey-software',
            },
            {
              name: 'Community',
              link: 'http://community.gsoftware.org',
            },
          ],
        },
      ],
    }
  },
}
</script>
