<template>
  <div
    class="h-navbar-mobile lg:h-navbar-pc fixed top-0 z-40 flex items-center justify-between w-screen bg-white border-b"
  >
    <div class="lg:container lg:px-4 flex items-center justify-between w-full px-8 mx-auto">
      <div class="flex items-center pr-4">
        <NuxtLink to="/" class="flex-1 flex-shrink-0 text-xl font-bold" aria-label="Logo">
          <GreySoftwareLogo />
        </NuxtLink>
      </div>

      <!-- Mobile toggle -->
      <button class="md:hidden" @click="drawer">
        <IconMenu />
      </button>
      <Navbar :navItems="navItems" />
    </div>
    <side-nav :isOpen="isOpen" :navItems="navItems" v-on:drawer="drawer" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      isOpenDrop: true,
      navItems: [
        {
          name: 'About',
          isAccordianOpen: false,
          links: [
            {
              name: 'Pitch',
              link: '/pitch',
            },
            {
              name: 'FAQ',
              link: '/faq',
            },
            {
              name: 'Feedback',
              link: '/feedback',
            },
            {
              name: 'Analytics',
              link: '/analytics',
            },
            {
              name: 'Philosophy',
              link: '/philosophy',
            },
            {
              name: 'Founding Story',
              link: '/founding-story',
            },
          ],
        },
        {
          name: 'Explore',
          isAccordianOpen: false,
          links: [
            {
              name: 'GitLab',
              link: 'https://gitlab.com/grey-software',
            },
            {
              name: 'Learn',
              link: 'https://learn.gsoftware.org/',
            },
            {
              name: 'Resources',
              link: 'https://resources.gsoftware.org/',
            },
            {
              name: 'Onboarding',
              link: 'https://onboarding.gsoftware.org/',
            },
            {
              name: 'Organization',
              link: 'https://org.gsoftware.org/',
            },
          ],
        },
        {
          name: 'Socials',
          isAccordianOpen: false,
          links: [
            {
              name: 'Twitter',
              link: 'https://twitter.com/grey_software',
            },
            {
              name: 'LinkedIn',
              link: 'https://www.linkedin.com/company/grey-software/',
            },
            {
              name: 'GitHub',
              link: 'https://github.com/grey-software',
            },
            {
              name: 'Community',
              link: 'http://community.gsoftware.org',
            },

          ],
        },
        {
          name: 'Credits',
          isAccordianOpen: false,
          links: [
            {
              name: 'Team',
              link: '/team',
            },
            {
              name: 'Sponsors',
              link: '/sponsors',
            },
          ],
        },
      ],
    }
  },

  methods: {
    drawer() {
      this.isOpen = !this.isOpen
    },
  },
}
</script>
