<template>
  <section
    class="
      h-hero
      mt-navbar-mobile
      md:grid md:grid-cols-8
      place-content-center
      md:pt-6 md:px-4
      lg:px-12
      w-screen
      grid-cols-1
      pt-12
      mx-auto
    "
  >
    <div class="md:col-span-4 md:mb-0 flex flex-col justify-center items-center w-full px-4 mb-20 lg:ml-8">
      <div class="md:text-left md:-mb-12 text-center">
        <h2 class="md:text-3xl lg:text-hero-title mb-3 text-2xl font-bold text-black">
          Bootcamps & Universities <br class="sm:block hidden" />
          Can't Teach You Everything
        </h2>
        <p
          class="
            md:mx-0 md:text-md
            lg:text-lg
            md:w-84
            lg:w-116
            sm:max-w-lg
            mx-auto
            mb-6
            text-base
            font-normal
            text-black
          "
        >
          At Grey Software we help you gain practical tech skills at your own pace with resources and mentorship!
        </p>
        <div>
          <cta-primary
            class="md:mr-6 md:w-auto sm:max-w-lg inline-block w-full mb-4"
            text="Support Us"
            link="#support"
          />
          <cta-secondary
            class="md:w-auto sm:max-w-lg inline-block w-full"
            text="Free Resources"
            link="https://resources.gsoftware.org/"
          />
        </div>
      </div>
    </div>

    <img
      class="md:col-span-4 md:px-0 max-h-84 md:max-h-112 flex items-center justify-center w-full px-4"
      src="/hero-illustration.svg"
      alt=""
    />
  </section>
</template>
