<template>
  <div class="md:flex items-center justify-end hidden ml-auto">
    <div class="flex items-center">
      <!-- Generating nav link from props -->
      <div v-for="(navItem, index) in navItems" :key="index" class="dropdown relative inline-block cursor-pointer">
        <div class="flex items-center mr-10">
          <p class="dark:text-gray-300 text-black-500 hover:text-primary-300 dark-hover:text-primary-500">
            {{ navItem.name }}
          </p>
          <icon-chevron-down class="w-5 h-5" />
        </div>
        <drop-down :isExternal="navItem.name == 'Explore' || navItem.name == 'Socials'" :links="navItem.links" />
      </div>
      <nav-cta link="/support" text="Support Us" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    navItems: Array,
  },
}
</script>
