<template>
  <div class="lg:container pt-20 pb-10 mx-auto">
    <section-title-subtitle-center
      title="Help us build the <br /> Future of software education"
      desc="We need your support in order to pay for infrastructure and allow our team members to make a living doing something important!"
    />

    <div class="mx-auto md:pl-26 md:container pt-14 lg:pt-26 flex flex-wrap items-center px-8">
      <div class="mb-20">
        <div class="lg:mx-auto max-w-xl">
          <h2 class="text-black-500 md:text-2xl font-heading mb-8 text-xl font-semibold">
            Become a Grey Software Sponsor
          </h2>
          <p class="text-black-500 md:w-120 w-full text-base font-normal leading-normal">
            Individual monthly sponsors power our organization with regular revenue and make our meaningful work
            possible. In return, we offer software and recognition.
          </p>
        </div>
      </div>

      <div class="container lg:mx-auto mb-18 grid grid-cols-1 sm:grid-cols-2 gap-8">
        <gsac-support-card
          v-for="tier in sponsorshipTiers"
          :key="tier.title"
          :tier="tier.tier"
          :title="tier.title"
          :link="tier.link"
          class="md: lg:mr-10 mr-6"
        />
      </div>
    </div>

    <section-title-subtitle-center
      class="container mx-auto mb-12"
      title="Become an Ecosystem Partner"
      desc="If your organization would like to sponsor us as an ecosystem partner, we offer 4 tiers that allow you to feature your brand on our websites and project repositories."
    />

    <div class="container mx-auto md:pl-26 grid grid-cols-1 md:grid-cols-2 gap-8">
      <org-support-card v-for="tier in partnerTiers" :key="tier.title" :tier="tier" class="mb-4 lg:mr-10 mr-6" />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-8 p-8 mx-auto">
      <div class="lg:mb-0 mb-12 md:col-span-5">
        <div class="lg:mx-auto max-w-xl">
          <h2 class="text-black-500 text-2xl font-heading mb-8 font-semibold">Make a Donation</h2>
          <p class="text-black-500 md:w-120 w-full mb-6 text-base font-normal leading-normal">
            Since we started, we've recieved generous donations from people all around the world. <br />
          </p>
          <p class="text-black-500 md:w-120 w-full mb-6 text-base font-normal leading-normal">
            These donations have helped us cover our infrastructure costs and pay our team members to further the cuase
            of democratized software education.
          </p>
        </div>
      </div>

      <div class="md:col-span-3 lg:px-10 flex flex-col items-center justify-center">
        <cta-support class="mx-6 my-3" v-for="cta in donationCtas" :key="cta.text" :text="cta.text" :link="cta.link" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      donationCtas: [
        {
          text: 'Paypal',
          link: 'https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=VEAGAZP7DHJNE&source=url',
        },
        {
          text: 'Github',
          link: 'https://github.com/sponsors/grey-software?frequency=one-time',
        },
        {
          text: 'Open Collective',
          link: 'https://opencollective.com/grey-software/donate',
        },
      ],
      sponsorshipTiers: [
        {
          tier: '$2 / month',
          title: 'Base Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=100474',
        },
        {
          tier: '$5 / month',
          title: 'Core Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39311',
        },
        {
          tier: '$10 / month',
          title: 'Blue Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39312',
        },
        {
          tier: '$20 / month',
          title: 'True Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39313',
        },
      ],

      partnerTiers: [
        {
          title: 'Bronze',
          gitHubLink: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=89474',
          openCollectiveLink: 'https://opencollective.com/grey-software/contribute/bronze-25902/checkout',
        },
        {
          title: 'Silver',
          gitHubLink: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=89475',
          openCollectiveLink: 'https://opencollective.com/grey-software/contribute/silver-25900/checkout',
        },
        {
          title: 'Gold',
          gitHubLink: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=89485',
          openCollectiveLink: 'https://opencollective.com/grey-software/contribute/gold-25901/checkout',
        },
        {
          title: 'Platinum',
          gitHubLink: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=89486',
          openCollectiveLink: 'https://opencollective.com/grey-software/contribute/platinum-25897/checkout',
        },
      ],
    }
  },
}
</script>
