@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 &family=Montserrat:wght@400;500&display=swap");

:root {
  --color-text: #8b9496;
  --color-text-dark: #343434;
  --bg: #ffffff;
  --border-color: #ddd;
  --color-gold: #b29a66;
  --color-gold-light: rgba(178, 154, 102, 0.85);
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Lato", sans-serif;
}


body {
  font-family: var(--font-body) !important;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
  filter: inherit;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
}
