*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

:root {
  --color-text: #fcfcfc;
  --color-text-dark: #fcfcfc;
  --bg: #2d3748;
  --border-color: #ddd;
  --color-gold: #b29a66;
  --color-gold-light: rgba(178, 154, 102, 0.8);
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Nunito Sans', sans-serif;
}

body {
  font-family: var(--font-body) !important;
  background-color: var(--bg);
  color: var(--color-text);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
  filter: inherit;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
}

.nuxt-content-container {
  padding: 0 16px;
}

.nuxt-content h1 {
  color: #f7fafc;
}

.nuxt-content h2 {
  color: #f7fafc;
}

.nuxt-content h3 {
  color: #f7fafc;
}

.nuxt-content p {
  color: white;
}

.nuxt-content a {
  color: white;
}

.shadowed-image {
  -webkit-filter: drop-shadow(0 0 4px #bbb);
  filter: drop-shadow(0 0 4px #bbb);
  transition: filter -webkit-filter 0.2s ease-out;
}

.shadowed-image:hover {
  -webkit-filter: drop-shadow(0 0 8px #bbb);
  filter: drop-shadow(0 0 8px #bbb);
}

.btn-xl {
  height: 48px;
  min-width: 92px;
  padding: 0 24px;
}

.btn-lg {
  height: 42px;
  min-width: 78px;
  padding: 0 20px;
}
