<template>
  <div class="mt-navbar-mobile lg:mt-navbar-pc container px-8 mx-auto">
    <article class="typography max-w-full py-8">
      <h1>
        {{ document.title }}
      </h1>
      <div v-if="document.subtitle" class="-mt-4">
        <p class="dark:text-gray-400 text-gray-600">
          {{ document.subtitle }}
        </p>
      </div>

      <NuxtContent :document="document" />
    </article>
  </div>
</template>

<script>
export default {
  name: 'Pitch',

  async asyncData({ $content, error }) {
    const document = await $content('analytics').fetch()
    if (!document) {
      return error({ statusCode: 404, message: 'Page not found' })
    }
    return {
      document,
    }
  },
}
</script>
