<template>
  <div class="sm:px-24 md:px-52 lg:px-84 p-8 mt-navbar-mobile lg:mt-navbar-pc container mx-auto">
    <article class="typography max-w-full">
      <h1>
        {{ document.title }}
      </h1>
      <div v-if="document.subtitle" class="-mt-4">
        <p class="dark:text-gray-400 text-gray-600">
          {{ document.subtitle }}
        </p>
      </div>

      <NuxtContent class="mt-8" :document="document" />
    </article>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, error }) {
    const document = await $content('feedback').fetch()
    if (!document) {
      return error({ statusCode: 404, message: 'Page not found' })
    }
    return {
      document,
    }
  },
}
</script>
