<template>
  <div id="pitch" class="mt-navbar-mobile lg:mt-navbar-pc container px-8 mx-auto">
    <article class="typography lg:px-24 max-w-full py-8">
      <h1>
        {{ document.title }}
      </h1>
      <div v-if="document.subtitle" class="-mt-4">
        <p class="dark:text-gray-400 text-gray-600">
          {{ document.subtitle }}
        </p>
      </div>

      <NuxtContent :document="document" />
    </article>
  </div>
</template>

<script>
export default {
  name: 'Pitch',

  async asyncData({ $content, error }) {
    const document = await $content('pitch').fetch()
    if (!document) {
      return error({ statusCode: 404, message: 'Page not found' })
    }
    return {
      document,
    }
  },
}
</script>

<style>
#pitch summary {
  cursor: pointer;
  font-size: 1.42rem;
  font-weight: 600;
  opacity: 0.69;
  transition: all 0.3s ease-out;
}

#pitch summary:hover {
  opacity: 1;
}

#pitch details {
  border: 1px dashed;
  border-radius: 16px;
  @apply p-6;
  margin-bottom: 3rem;
}

#pitch h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#pitch img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
</style>
