<template>
  <section class="py-20 mt-10 px-8 md:px-16 lg:px-28">
    <section-title-subtitle-left
      title="Thank you for helping us <br /> Sustain open software education!"
      desc="We genuinely mean that! It's because of your generosity that we can pay for infrastructure and allow our team members to make a living by creating open software education!"
      class="mb-16"
    />

    <section-title-center title="True Grey Sponsors" class="py-12" />

    <div class="lg:justify-start flex flex-wrap justify-center mb-4">
      <SponsorCard
        class="m-4"
        v-for="sponsor in trueGreySponsors"
        :key="sponsor.username"
        :sponsor="sponsor"
      ></SponsorCard>
    </div>

    <section-title-center title="Blue Grey Sponsors" class="py-12" />

    <div class="lg:justify-start flex flex-wrap justify-center mb-4">
      <SponsorCard
        class="m-4"
        v-for="sponsor in blueGreySponsors"
        :key="sponsor.username"
        :sponsor="sponsor"
      ></SponsorCard>
    </div>

    <section-title-center title="Core Grey Sponsors" class="py-12" />

    <div class="lg:justify-start flex flex-wrap justify-center mb-4">
      <SponsorCard
        class="m-4"
        v-for="sponsor in coreGreySponsors"
        :key="sponsor.username"
        :sponsor="sponsor"
      ></SponsorCard>
    </div>

    <section-title-center title="Individual Donors" class="py-12" />

    <div class="md:justify-start flex flex-wrap justify-center mb-4">
      <DonorCard class="m-4" v-for="donor in donors" :key="donor.name" :donor="donor" />
    </div>

    <section-title-center title="Past Sponsors" class="py-12" />

    <div class="md:justify-start flex flex-wrap justify-center mb-4">
      <SponsorCard class="m-4" v-for="sponsor in pastSponsors" :key="sponsor.username" :sponsor="sponsor"></SponsorCard>
    </div>
  </section>
</template>

<script>
import SectionTitleSubtitleLeft from '../components/global/SectionTitleSubtitleLeft.vue'
import moment from 'moment'

const sortByDate = (first, second) => {
  return Date.parse(second.startDate) - Date.parse(first.startDate)
}

const sortByAmount = (first, second) => {
  return Date.parse(second.amount) - Date.parse(first.amount)
}

const isPastSponsor = (endDate) => {
  return moment().subtract(1, 'months').isAfter(endDate, 'month')
}

export default {
  components: { SectionTitleSubtitleLeft },
  async asyncData({ $content }) {
    const sponsorsDataStore = await $content('sponsors').fetch()
    const donorsDataStore = await $content('donors').fetch()

    const sponsors = sponsorsDataStore.sponsors
    const donors = donorsDataStore.donors.sort(sortByDate)
    let coreGreySponsors = []
    let blueGreySponsors = []
    let trueGreySponsors = []
    let pastSponsors = []

    for (const sponsor of sponsors) {
      if (isPastSponsor(sponsor.endDate) === true) {
        sponsor.isPastSponsor = true
        pastSponsors.push(sponsor)
      } else {
        sponsor.isPastSponsor = false
        if (sponsor.monthlyAmount === 20) {
          trueGreySponsors.push(sponsor)
        } else if (sponsor.monthlyAmount === 10) {
          blueGreySponsors.push(sponsor)
        } else {
          coreGreySponsors.push(sponsor)
        }
      }
    }

    coreGreySponsors = coreGreySponsors.sort(sortByDate).sort(sortByAmount)
    blueGreySponsors = blueGreySponsors.sort(sortByDate)
    trueGreySponsors = trueGreySponsors.sort(sortByDate)

    return {
      donors,
      coreGreySponsors,
      blueGreySponsors,
      trueGreySponsors,
      pastSponsors,
    }
  },
}
</script>
