<template>
  <section class="py-20 mt-10 px-8 md:px-16 lg:px-28">
    <section-title-subtitle-left title="Meet our Team <br />" class="mb-10" />
    <section-title-center title="Active Members" class="py-12" />
    <div class="flex flex-wrap justify-center lg:justify-start mb-4">
      <ProfileCard class="m-4" v-for="member in team.currentMembers" :key="member.name" :profile="member" />
    </div>

    <section-title-center title="Past Members" class="py-12" />
    <div class="flex flex-wrap justify-center lg:justify-start mb-4">
      <ProfileCard class="m-4" v-for="member in team.pastMembers" :key="member.name" :profile="member" />
    </div>
  </section>
</template>

<script>
import SectionTitleSubtitleLeft from '../components/global/SectionTitleSubtitleLeft.vue'

export default {
  components: { SectionTitleSubtitleLeft },
  async asyncData({ $content }) {
    const team = await $content('team').fetch()
    return {
      team,
    }
  },
}
</script>
