<template>
  <div class="inline-flex my-2 mr-6">
    <a
      :href="link"
      class="
        min-w-144
        focus:outline-none
        dark:text-white
        text-md
        border-black-300
        hover:border-black-800
        dark:border-gray-400
        dark-hover:border-gray-50
        px-5
        py-3
        text-center
        transition-all
        border
        rounded-md
      "
    >
      {{ text }}
    </a>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
