<template>
  <a
    :href="link"
    class="
      md:h-10
      w-full
      text-secondary-500
      hover:text-gray-100
      focus:shadow-outline
      hover:bg-gray-800
      border-secondary-500
      block
      px-4
      py-2
      text-center
      transition-colors
      duration-150
      bg-transparent
      border
      rounded-lg
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
