<template>
  <a
    :href="link"
    class="
      focus:outline-none
      text-md
      lg:px-7
      max-w-32
      bg-black-500
      border-black-500
      hover:border-black-800
      dark:border-gray-400
      dark-hover:border-gray-50
      block
      px-4
      py-2
      text-center text-white
      transition-all
      border
      rounded-md
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
