<template>
  <svg class="md:hidden flex" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.83293 0V4.95392L2.83278 0H0V2.81534L4.9846 7.78472H0V11.2111H11.2805V0H7.83293Z" fill="#181818" />
    <path d="M0 16.2114H4.9846L0 21.1808V24H2.83278L7.83293 19.0422V24H11.2805V12.7889H0V16.2114Z" fill="#181818" />
    <path
      d="M13.1912 3.42249H18.1758L13.1912 8.39189V11.2111H16.0239L21.0241 6.25332V11.2111H24.4678V0H13.1912V3.42249Z"
      fill="#181818"
    />
    <path
      d="M16.6349 24V19.0461L21.635 24H24.4678V21.1808L19.4832 16.2114H24.4678V12.7889H13.1912V24H16.6349Z"
      fill="#181818"
    />
  </svg>
</template>
