<template>
  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.25 0.25C12.6478 0.25 13.0294 0.408035 13.3107 0.68934C13.592 0.970644 13.75 1.35218 13.75 1.75V12.25C13.75 12.6478 13.592 13.0294 13.3107 13.3107C13.0294 13.592 12.6478 13.75 12.25 13.75H1.75C1.35218 13.75 0.970644 13.592 0.68934 13.3107C0.408035 13.0294 0.25 12.6478 0.25 12.25V1.75C0.25 1.35218 0.408035 0.970644 0.68934 0.68934C0.970644 0.408035 1.35218 0.25 1.75 0.25H12.25ZM11.875 11.875V7.9C11.875 7.25155 11.6174 6.62965 11.1589 6.17112C10.7003 5.7126 10.0785 5.455 9.43 5.455C8.7925 5.455 8.05 5.845 7.69 6.43V5.5975H5.5975V11.875H7.69V8.1775C7.69 7.6 8.155 7.1275 8.7325 7.1275C9.01098 7.1275 9.27805 7.23812 9.47496 7.43504C9.67188 7.63195 9.7825 7.89902 9.7825 8.1775V11.875H11.875ZM3.16 4.42C3.49417 4.42 3.81466 4.28725 4.05095 4.05095C4.28725 3.81466 4.42 3.49417 4.42 3.16C4.42 2.4625 3.8575 1.8925 3.16 1.8925C2.82384 1.8925 2.50144 2.02604 2.26374 2.26374C2.02604 2.50144 1.8925 2.82384 1.8925 3.16C1.8925 3.8575 2.4625 4.42 3.16 4.42ZM4.2025 11.875V5.5975H2.125V11.875H4.2025Z" fill="#6C6C6C"/>
</svg>
</template>

<script>
export default {

}
</script>

<style>

</style>