<template>
  <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15.4554 7.8325L14.6679 5.4175C14.6679 5.395 14.6604 5.3725 14.6529 5.35L13.0704 0.49C12.9879 0.25 12.7479 0.0625 12.4704 0.0625C12.2004 0.0625 11.9604 0.25 11.8779 0.4975L10.3779 5.125H5.63039L4.12289 0.4975C4.04039 0.25 3.80039 0.0625 3.53039 0.0625C3.25289 0.0625 3.01289 0.25 2.93039 0.4975L1.34789 5.365V5.3725L0.545391 7.8325C0.425391 8.2075 0.552891 8.6125 0.875391 8.8375L7.79039 13.87C7.91789 13.96 8.08289 13.96 8.21039 13.8625L15.1254 8.8375C15.4479 8.6125 15.5754 8.2075 15.4554 7.8325ZM5.11289 5.8375L7.04039 11.77L2.41289 5.8375H5.11289ZM8.96039 11.7775L10.8129 6.085L10.8879 5.8375H13.5954L9.40289 11.2075L8.96039 11.7775ZM12.4779 0.955L13.8354 5.125H11.1204L12.4779 0.955ZM10.1454 5.8375L8.80289 9.97L8.00039 12.43L5.85539 5.8375H10.1454ZM3.52289 0.955L4.88039 5.125H2.17289L3.52289 0.955ZM1.28789 8.2675C1.22039 8.215 1.19039 8.125 1.22039 8.05L1.81289 6.2275L6.17789 11.815L1.28789 8.2675ZM14.7129 8.2675L9.83039 11.815L9.84539 11.7925L14.1879 6.2275L14.7804 8.05C14.8104 8.125 14.7804 8.215 14.7129 8.2675Z"
      fill="#6C6C6C"
    />
  </svg>
</template>

<script>
export default {}
</script>

<style>
</style>