<template>
  <svg class="w-8 h-8" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M3.46777 6H21.4678V8H3.46777V6ZM3.46777 11H21.4678V13H3.46777V11ZM3.46777 16H21.4678V18H3.46777V16Z"
      fill="#181818"
    />
  </svg>
</template>
