<template>
  <div class="sponsor-card-offering">
    <img alt="Check Icon" class="vector" src="/check-secondary.svg" />
    <p class="text-secondary-500 text-base">{{ offering }}</p>
  </div>
</template>

<script>
export default {
  props: {
    offering: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.sponsor-card-offering {
  padding: 0 0 0 2.74px;
  display: flex;
  align-items: flex-start;
}
.vector {
  margin-top: 0;
  margin-right: 22.9px;
}
</style>
