<template>
  <div class="w-full sm:w-64 md:w-88 lg:w-88 shadow-lg border border-black-600 border-opacity-100 rounded-2xl p-4">
    <div class="flex flex-row items-start">
      <img :src="profile.avatar" class="w-20 h-20 rounded-lg" />
      <div class="w-full pl-4 flex flex-col">
        <div class="pb-3">
          <p class="text-gray-800 dark:text-white text-xl font-medium">
            {{ profile.name }}
          </p>
          <p class="text-gray-400 text-sm">
            {{ profile.position }}
          </p>
        </div>

        <div class="flex justify-start text-xs text-gray-400 dark:text-black align-center">
          <a class="pr-4 -mt-0.5" v-if="profile.github !== undefined" :href="profile.github" target="_blank"
            ><IconGithub
          /></a>
          <a class="pr-4" v-if="profile.linkedin !== undefined" :href="profile.linkedin" target="_blank"
            ><IconLinkedIn
          /></a>
          <a class="pr-4" v-if="profile.gitlab !== undefined" :href="profile.gitlab" target="_blank"><IconGitlab /></a>
          <a class="pr-4" v-if="profile.website !== undefined" :href="profile.website" target="_blank"
            ><IconWebsite
          /></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    profile: {
      name: String,
      avatar: String,
      position: String,
      website: String,
      github: String,
      gitlab: String,
      linkedin: String,
    },
  },
}
</script>

<style></style>
