<template>
  <div class="lg:px-16 md:py-20 px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 -mx-4">
      <div class="mb-2.5 flex items-center justify-center">
        <img class="max-h-64 md:max-h-96 lg:max-h-112" :src="project.image" />
      </div>
      <div class="md:mb-0 lg:mb-0 flex items-center justify-center w-full mb-12">
        <div class="lg:mx-0 mx-auto">
          <div class="lg:mx-0 max-w-md mx-auto">
            <h2 class="lg:text-2xl mb-4 text-xl font-semibold">
              {{ project.title }}
            </h2>
          </div>

          <p class="lg:text-lg max-w-xs mb-4 text-base">
            {{ project.desc }}
          </p>
          <div
            v-for="tag in project.tags"
            :key="tag"
            class="inline-block mr-8 text-xs font-semibold text-gray-500 capitalize"
          >
            {{ tag }}
          </div>
          <div class="mt-16">
            <cta-primary
              class="lg:mr-6 lg:w-auto inline-block w-full mb-4"
              :text="project.primary.text"
              :link="project.primary.link"
            />
            <cta-secondary
              class="lg:w-auto inline-block w-full"
              :text="project.secondary.text"
              :link="project.secondary.link"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      title: {
        type: String,
        default: '',
      },
      desc: {
        type: String,
        default: '',
      },
      image: {
        type: String,
        default: '',
      },
      tags: {
        type: Array,
        default: [],
      },
      primary: {
        type: Object,
        default: {},
      },
      secondary: {
        type: Object,
        default: {},
      },
    },
  },
}
</script>

<style></style>
