<template>
  <div class="text-black-500 md:px-4 lg:px-0 flex flex-col items-center px-0 py-12 mx-auto text-center">
    <h3
      v-if="titleHasLineBreak"
      class="md:text-section-title mb-4 text-2xl font-bold leading-10 tracking-normal capitalize"
    >
      {{ splitTitle[0] }}<br />
      {{ splitTitle[1] }}
    </h3>
    <h3 v-else class="md:text-section-title mb-4 text-2xl font-bold leading-10 tracking-normal">
      {{ title }}
    </h3>
    <p class="md:text-lg max-w-xl text-base px-4">{{ desc }}</p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    desc: {
      type: String,
      default: 'Description',
    },
  },
  computed: {
    titleHasLineBreak() {
      return this.title.includes('<br />')
    },
    splitTitle() {
      return this.title.split('<br />').map((it) => {
        return it.trim()
      })
    },
  },
}
</script>
