<template>
  <div class="container px-4 mx-auto">
    <div class="lg:mb-16 flex flex-wrap items-center mb-12 -mx-4">
      <div class="lg:w-2/3 w-full px-4">
        <div class="leading-5">
          <h2 v-if="titleHasLineBreak" class="lg:text-4xl mt-2 mb-4 font-sans text-3xl font-bold">
            {{ splitTitle[0] }} <br />
            {{ splitTitle[1] }}
          </h2>
          <h2 v-else class="lg:text-4xl mt-2 mb-6 font-sans text-3xl font-bold">
            {{ title }}
          </h2>
          <div>
            <p class="lg:mb-0 mb-6 font-sans text-lg text-justify">
              {{ desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    desc: {
      type: String,
      default: '',
    },
  },
  computed: {
    titleHasLineBreak() {
      return this.title.includes('<br />')
    },
    splitTitle() {
      return this.title.split('<br />').map((it) => {
        return it.trim()
      })
    },
  },
}
</script>
